<h1><%= gettext "Edit Right" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.right_path(@conn, :update, @right)) %>

<span><%= link gettext("Back"), to: Routes.right_path(@conn, :index) %></span>