<h1><%= gettext "Edit Right" %></h1>

<%= 
  render "form.html", 
    action: Routes.right_path(@conn, :update, @right), 
    changeset: @changeset,
    cancel: Routes.right_path(@conn, :show, @right)
%>