<h1><%= gettext "New Right" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.right_path(@conn, :create)) %>

<span><%= link gettext("Cancel"), to: Routes.right_path(@conn, :index) %></span>