<h1><%= @right.name %></h1>

<ul>
  <li>Filter: <%= @right.filter %></li>
</ul>

<div>
  <%= link gettext("Index"), to: Routes.right_path(@conn, :index) %> | 
  <%= link gettext("Edit"), to: Routes.right_path(@conn, :edit, @right) %> | 
  <%= 
    link gettext("Delete"), 
      to: Routes.right_path(@conn, :delete, @right), 
      method: :delete, 
      data: [confirm: gettext("Are you sure?")]
  %>  
</div>