<h1><%= gettext "Edit Permission" %></h1>

<%= 
  render "form.html", 
    action: Routes.permission_path(@conn, :update, @permission), 
    changeset: @changeset,
    cancel: Routes.permission_path(@conn, :show, @permission)
%>