<h1><%= gettext "Edit Permission" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.permission_path(@conn, :update, @permission)) %>

<span><%= link gettext("Back"), to: Routes.permission_path(@conn, :index) %></span>