<h1><%= gettext "New Permission" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.permission_path(@conn, :create)) %>

<span><%= link gettext("Cancel"), to: Routes.permission_path(@conn, :index) %></span>