<h1><%= gettext "New Permission" %></h1>

<%= 
  render "form.html", 
    action: Routes.permission_path(@conn, :create), 
    changeset: @changeset,
    cancel: Routes.permission_path(@conn, :index),
    roles: @roles,
    contexts: @contexts,
    operations: @operations,
    domains: @domains
%>