<h1><%= @permission.name %></h1>

<div>
  <%= link gettext("Index"), to: Routes.permission_path(@conn, :index) %> | 
  <%= link gettext("Edit"), to: Routes.permission_path(@conn, :edit, @permission) %> | 
  <%= 
    link gettext("Delete"), 
      to: Routes.permission_path(@conn, :delete, @permission), 
      method: :delete, 
      data: [confirm: gettext("Are you sure?")]
  %>  
</div>