<h1><%= gettext "Edit Object" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.object_path(@conn, :update, @object)) %>

<span><%= link gettext("Back"), to: Routes.object_path(@conn, :index) %></span>