<h1><%= gettext "Edit Object" %></h1>

<%= 
  render "form.html", 
    action: Routes.object_path(@conn, :update, @object), 
    changeset: @changeset,
    cancel: Routes.object_path(@conn, :show, @object)
%>