<h1><%= gettext "New Object" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.object_path(@conn, :create)) %>

<span><%= link gettext("Cancel"), to: Routes.object_path(@conn, :index) %></span>