<h1><%= gettext "New Object" %></h1>

<%= 
  render "form.html", 
    action: Routes.object_path(@conn, :create), 
    changeset: @changeset,
    cancel: Routes.object_path(@conn, :index),
    domains: @domains
%>