<h1><%= @object.name %></h1>

<div>
  <%= link gettext("Index"), to: Routes.object_path(@conn, :index) %> | 
  <%= link gettext("Edit"), to: Routes.object_path(@conn, :edit, @object) %> | 
  <%= 
    link gettext("Delete"), 
      to: Routes.object_path(@conn, :delete, @object), 
      method: :delete, 
      data: [confirm: gettext("Are you sure?")]
  %>  
</div>