<h1><%= gettext "Edit Operation" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.operation_path(@conn, :update, @operation)) %>

<span><%= link gettext("Back"), to: Routes.operation_path(@conn, :index) %></span>