<h1><%= gettext "Edit Operation" %></h1>

<%= 
  render "form.html", 
    action: Routes.operation_path(@conn, :update, @operation), 
    changeset: @changeset,
    cancel: Routes.operation_path(@conn, :show, @operation),
    rights: @rights
%>