<h1><%= gettext "New Operation" %></h1>

<%= 
  render "form.html", 
    action: Routes.operation_path(@conn, :create), 
    changeset: @changeset,
    cancel: Routes.operation_path(@conn, :index),
    rights: @rights
%>