<h1><%= @operation.name %></h1>

<div>
  <%= link gettext("Index"), to: Routes.operation_path(@conn, :index) %> | 
  <%= link gettext("Edit"), to: Routes.operation_path(@conn, :edit, @operation) %> | 
  <%= 
    link gettext("Delete"), 
      to: Routes.operation_path(@conn, :delete, @operation), 
      method: :delete, 
      data: [confirm: gettext("Are you sure?")]
  %>  
</div>