<h1><%= gettext "Edit Domain" %></h1>

<%= 
  render "form.html", 
    action: Routes.domain_path(@conn, :update, @domain), 
    changeset: @changeset,
    cancel: Routes.domain_path(@conn, :show, @domain)
%>