<h1><%= gettext "New Domain" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.domain_path(@conn, :create)) %>

<span><%= link gettext("Cancel"), to: Routes.domain_path(@conn, :index) %></span>