<h1><%= gettext "New Domain" %></h1>

<%= 
  render "form.html", 
    action: Routes.domain_path(@conn, :create), 
    changeset: @changeset,
    cancel: Routes.domain_path(@conn, :index),
    objects: @objects
%>