<div class="debug">
  <h3>Debug</h3>

  <h4>Subject</h4>
  <%= render "current_user.html", current_user: @current_user %>

  <h4>Resource</h4>
  <%= render "resource.html", resource: @resource %>

  <h4>Permissions</h4>
  <%= for permission <- @permissions do %>
    <%= render "permission.html", permission: permission %>
  <% end %>

   <h4>Rights</h4>
   <%= inspect Enum.map(@rights, & &1.name) %>
</div>
