<h1><%= gettext "Edit Subject" %></h1>

<%= 
  render "form.html", 
    action: Routes.subject_path(@conn, :update, @subject), 
    changeset: @changeset,
    cancel: Routes.subject_path(@conn, :show, @subject),
    roles: @roles
%>
