<h1><%= gettext "Edit Role" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.role_path(@conn, :update, @role)) %>

<span><%= link gettext("Back"), to: Routes.role_path(@conn, :index) %></span>