<h1><%= gettext "New Role" %></h1>

<%= 
  render "form.html", 
    action: Routes.role_path(@conn, :create), 
    changeset: @changeset,
    cancel: Routes.role_path(@conn, :index),
    subjects: @subjects
%>