<h1><%= gettext "Edit Context" %></h1>

<%= 
  render "form.html", 
    action: Routes.context_path(@conn, :update, @context), 
    changeset: @changeset,
    cancel: Routes.context_path(@conn, :show, @context)
%>