<h1><%= gettext "New Context" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.context_path(@conn, :create)) %>

<span><%= link gettext("Cancel"), to: Routes.context_path(@conn, :index) %></span>