<h1><%= @context.name %></h1>

<ul>
  <li>Rule: <%= @context.rule %></li>
  <li>Filter: <%= @context.filter %></li>
</ul>

<div>
  <%= link gettext("Index"), to: Routes.context_path(@conn, :index) %> | 
  <%= link gettext("Edit"), to: Routes.context_path(@conn, :edit, @context) %> | 
  <%= 
    link gettext("Delete"), 
      to: Routes.context_path(@conn, :delete, @context), 
      method: :delete, 
      data: [confirm: gettext("Are you sure?")]
  %>  
</div>